---
layout: default
title: SHADOW SIGNAL
---

<div class="cards">
  {% for post in paginator.posts %}
    {% include emoji-separator.html %}
    {% include post_card.html post=post %}
  {% endfor %}
</div>

<nav class="pager">
  {% if paginator.previous_page %}
    <a class="pager-link" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&larr; Newer</a>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pager-link" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older &rarr;</a>
  {% endif %}
</nav>
