---
layout: default
---

<div class="folder-grid">
  {% assign tab_colors = "orange,green,blue,red" | split: "," %}
  {% for post in paginator.posts %}
    {% assign color_index = forloop.index0 | modulo: tab_colors.size %}
    {% assign tab_color = tab_colors[color_index] %}
    <div class="folder" style="background-image: url('{{ '/assets/images/folder_note_clip.png' | relative_url }}');">
      <img class="folder-tab" src="{{ '/assets/images/tab_' | append: tab_color | append: '.png' | relative_url }}" alt="Date tab">
      <span class="folder-date">{{ post.date | date: "%b %d" }}</span>
      <a href="{{ post.url | relative_url }}">
        <h2 class="folder-title">{{ post.title }}</h2>
      </a>
    </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Older &rarr;</a>
  {% endif %}
</div>
